body {
    background: #7494c0;
    margin: 0;
}


h1 {
    background: #273246;
    padding: 10px;
    text-align: center;
    font-size: 150%;
    color: #ffffff;
    /*要素を横幅いっぱいにする*/
    margin: 0 calc(50% - 50vw);
    width: 100vw;
}

div {

    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    height: 30px;
    margin-left: 10px;
}